/* ====== General ====== */

:root {
  /* Colors */

  --hue: 179;

  --brand-beige: hsl(calc(var(--hue) - 131), 100%, 97%); /* 39 */
  --brand-green: hsl(var(--hue), 100%, 26%); /* 170 */
  --brand-green-hover: hsl(var(--hue), 100%, 14%); /* 170 */
  --brand-green-light: hsl(calc(var(--hue) + 10), 14%, 97%); /* 180 */
  --brand-green-medium: hsl(calc(var(--hue) - 22), 23%, 89%); /* 148 */
  --gray-headline: hsl(210, 11%, 15%);
  --gray-paragraph: hsl(210, 9%, 31%);
  --white: hsl(0, 0%, 100%);

  font-size: 62.5%; /* 1rem = 10px */

  --nav-height: 7.2rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;

  background-color: var(--brand-beige);

  text-align: center;

  overflow: overlay;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

a {
  text-decoration: none;
  transition: filter 0.2s;
}

a:hover,
a:focus {
  filter: brightness(0.8);
}

a.button {
  width: fit-content;

  padding: 1.6rem 3.2rem;
  margin-bottom: 6rem;

  background-color: var(--brand-green);

  border: none;
  border-radius: 4rem;

  color: var(--white);
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  filter: none;
  transition: background-color 0.5s;
}

a.button:hover,
a.button:focus {
  background-color: var(--brand-green-hover);
}

section {
  padding-block: 10rem;
}

section header h4 {
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.08rem;
  color: var(--brand-green);
  text-transform: uppercase;
}

section header h1 {
  margin-bottom: 2.4rem;

  color: var(--gray-headline);
  font-size: 3.4rem;
  line-height: 130%;
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;
  color: var(--gray-headline);
}

section .content p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;

  color: var(--gray-paragraph);
}

.wrapper {
  width: 37.5rem;

  padding-inline: 2.4rem;
  margin-inline: auto;
}

img {
  max-width: 100%;
}

/* ====== Custom Styles ====== */

#navigation .logo path[fill*='#00856F'],
#backToTopButton circle {
  fill: var(--brand-green);
}

body.menu-expanded #navigation .logo path,
#navigation.scroll .logo path {
  fill: var(--white);
}

#navigation.scroll .logo path[stroke*='#00856F'] {
  stroke: var(--white);
}

button.open-menu path[stroke*='#00856F'],
#contact li path {
  stroke: var(--brand-green);
}

#navigation.scroll button.open-menu path[stroke*='#00856F'] {
  stroke: var(--white);
}

#services .card circle {
  fill: var(--brand-green-medium);
}

#services .card path {
  stroke: var(--brand-green);
}

/* ====== Nav ====== */

nav {
  position: fixed;
  top: 0;

  z-index: 100;

  width: 100vw;
  height: var(--nav-height);

  display: flex;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;

  transition: filter 0.2s;
}

nav button:hover,
nav button:focus {
  filter: brightness(0.8);
}

nav.scroll {
  background-color: var(--brand-green);
}

/* ====== Menu Expanded ====== */

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: var(--white);
}

body.menu-expanded button path {
  stroke: var(--white);
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;

  background-color: var(--brand-green);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);
  transition: transform 300ms;

  transform: translateY(0);
}

.menu {
  transform: translateY(100%);
}

.menu ul:first-child {
  padding-top: 6rem;
  margin-bottom: 4.8rem;

  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.menu ul:first-child li a {
  color: var(--brand-beige);
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu .menu-button {
  display: inline-block;

  height: 5.5rem;

  padding: 1.6rem 3.2rem;
  margin-bottom: 8rem;

  background-color: var(--white);
  border-radius: 4rem;

  color: var(--brand-green);
  font-weight: bold;
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;

  transition: 0.5s;
}

.menu .menu-button:hover {
  filter: none;

  background-color: var(--brand-green-hover);
  color: var(--white);
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

/* ====== Home ====== */

#home::before {
  display: block;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: calc(72% + var(--nav-height));

  background-color: var(--brand-green-medium);
}

#home {
  padding-block: 0;
  padding-top: calc(4.1rem + var(--nav-height));
}

#home h4 {
  margin-bottom: 1.6rem;
}

#home p {
  margin-bottom: 3.2rem;

  font-size: 1.8rem;
}

#home .button {
  margin-inline: auto;
}

#home img {
  display: block;

  width: 26.164rem;

  margin-inline: auto;

  object-position: 0 2rem;
}

#home .stats {
  width: 32.7rem;

  padding-block: 4rem;
  margin-inline: auto;

  background-color: var(--brand-beige);

  border: 1px solid var(--brand-green-medium);
  border-radius: 0.6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

#home .stat h3 {
  margin-bottom: 0.4rem;

  color: var(--gray-headline);
  font-size: 4.8rem;
  line-height: 130%;
}

#home .stat p {
  margin: 0;

  color: var(--brand-green);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
}

/* ====== Main ====== */

/* = Services Section = */

#services header h2 {
  margin-bottom: 6rem;
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  padding: 2.4rem;
  background-color: var(--white);

  border: 1px solid var(--brand-green-medium);
  border-radius: 0.6rem;

  text-align: left;
}

#services .card h3 {
  margin-block: 1.6rem;

  font-size: 2.4rem;
  line-height: 3.1rem;
  color: var(--gray-headline);
}

/* = About Section = */

#about,
.contact {
  text-align: left;
}

#about header h2 {
  margin-bottom: 2.4rem;
}

#about .content p {
  margin-bottom: 6rem;
}

/* = Contact Section = */

#contact {
  background-color: var(--white);
}

#contact header {
  margin-bottom: 3.2rem;
}

#contact ul {
  margin-bottom: 3.2rem;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

#contact ul li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/* ====== Footer ====== */

footer {
  padding-block: 6rem;

  background-color: var(--brand-green);

  color: var(--brand-beige);
  text-align: left;
}

footer header {
  margin-bottom: 2.4rem;
}

footer .logo svg {
  width: 23.6rem;
  height: 3.1rem;
}

footer .logo path {
  fill: var(--white);
}

footer .content p {
  margin-bottom: 3.2rem;

  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2;
}

footer .content .social-links {
  justify-content: flex-start;
}

/* ====== Back To Top Button ====== */

#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;

  opacity: 0;
  visibility: hidden;

  transform: translateY(150%);
  transition: 0.5s;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;

  transform: translateY(0);
}

@media (min-width: 1024px) {
  /* Geral */

  body {
    overflow: auto;
  }

  .wrapper {
    width: min(112rem, 100%);
    display: grid;
  }

  /* reset */

  nav#navigation .wrapper * {
    margin: 0;
    padding: 0;
    visibility: inherit;
    display: initial;
    flex-direction: initial;
    opacity: initial;
    position: initial;
    font-size: initial;
    font-weight: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    filter: initial;
  }

  /* Navigation */

  nav#navigation .open-menu,
  nav#navigation .close-menu,
  nav#navigation .social-links {
    display: none;
  }

  nav#navigation .menu {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav#navigation .menu ul:first-child {
    display: flex;
    gap: 3.2;
  }

  nav#navigation .menu ul li a {
    color: var(--brand-green);
    opacity: 0.7;

    transition: opacity 0.2s;
  }

  nav#navigation .menu ul li a.active,
  nav#navigation .menu ul li a:hover,
  nav#navigation.scroll .menu ul li a.active,
  nav#navigation.scroll .menu ul li a:hover {
    filter: none;
    opacity: 1;
    font-weight: bold;
  }

  nav#navigation .menu ul li a::after {
    display: block;
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--brand-green);
    position: relative;
    bottom: -2rem;
    left: -0.8rem;

    transition: width 0.2s;
  }

  nav#navigation .menu ul li a.active::after,
  nav#navigation .menu ul li a:hover::after {
    padding-inline: 0.8rem;
    width: 100%;
  }

  nav#navigation .menu a.menu-button {
    height: auto;

    padding: 1rem 2.4rem;

    border: 1px solid var(--brand-green);
    border-radius: 4rem;

    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--brand-green);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 500ms;
  }

  nav#navigation .menu a.menu-button:hover {
    background-color: var(--brand-green);
    color: var(--white);
  }

  nav#navigation.scroll .menu ul li a {
    color: var(--brand-green-light);
    opacity: 0.6;
  }

  nav#navigation.scroll .menu ul li a:after {
    background-color: var(--brand-green-light);
  }

  nav#navigation.scroll .menu a.menu-button {
    border-color: var(--white);
    color: var(--white);
  }

  nav#navigation.scroll .menu a.menu-button.active,
  nav#navigation.scroll .menu a.menu-button:hover {
    background-color: var(--brand-green-light);
    color: var(--brand-green);
  }

  /* Home */

  #home::before {
    height: calc(86% - var(--nav-height));
  }

  #home {
    padding-top: var(--nav-height);
  }

  #home .wrapper {
    grid-template-columns: 60.5rem 1fr;
    grid-template-areas:
      'content image'
      'stats stats';
  }

  #home .col-content {
    grid-area: content;
    text-align: left;
    align-self: center;
  }

  #home header h1 {
    font-size: 5.2rem;
  }

  #home a.button {
    margin: 0;
  }

  #home .col-image {
    grid-area: image;
  }

  #home img {
    width: 42rem;
    height: 54.9rem;
  }

  #home .stats {
    width: 100%;
    padding: 6rem;
    grid-area: stats;

    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }

  #home .stats .stat {
    flex: 1;
  }

  #home .stats .stat + .stat {
    border-left: 1px solid var(--brand-green);
  }

  /* Services */

  #services header h2 {
    width: 49.7rem;
    margin-bottom: 6.4rem;
    font-size: 4rem;
    margin-inline: auto;
  }

  #services .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
  }

  #services .card {
    width: 30%;
    flex-grow: 1;
  }

  /* About */

  #about .wrapper {
    grid-template-columns: 48rem 1fr;
    grid-template-areas: 'image content';
    gap: 6.7rem;
  }

  #about .col-content {
    grid-area: content;
    align-self: center;
  }

  #about .col-content .content p {
    margin-bottom: 0;
  }

  /* Contact */

  #contact .wrapper {
    grid-template-columns: 40.4rem 1fr;
    grid-template-areas: 'content image';
    gap: 6.7rem;
  }

  #contact .col-content {
    grid-area: content;
    align-self: center;
    text-align: left;
  }

  #contact header h2 {
    font-size: 4rem;
  }

  #contact .col-content .button {
    margin-bottom: 0;
  }

  #contact img {
    width: 57.5rem;
    height: 37.9rem;
  }

  /* Footer */

  #footer {
    padding-block: 8rem;
  }

  #footer .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'content image';
  }

  #footer .col-content {
    align-self: center;
    grid-area: content;
  }

  #footer .content p {
    margin-bottom: 0;
  }

  #footer .col-image {
    align-self: center;
    justify-self: flex-end;
  }
}
